.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px
}

.nav-items > ul > li {
    padding: 10px;
}
.logo {
    width: 100px;
}
.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.card > img {
    width: 100%
}

.card:hover {
    cursor: pointer;
    border: 1px solid black;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.login {
    margin: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}
.search-box {
    margin-top: 10px;
    margin-left: 10px;
}